carryMESUserInfoToWORK_RECORD/Web References/ETL_Service/SFIS_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SFIS Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Rv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RvResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerTime">
        <s:complexType />
      </s:element>
      <s:element name="GetServerTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSapConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="GetSapConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSapConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RvSoapIn">
    <wsdl:part name="parameters" element="tns:Rv" />
  </wsdl:message>
  <wsdl:message name="RvSoapOut">
    <wsdl:part name="parameters" element="tns:RvResponse" />
  </wsdl:message>
  <wsdl:message name="TxSoapIn">
    <wsdl:part name="parameters" element="tns:Tx" />
  </wsdl:message>
  <wsdl:message name="TxSoapOut">
    <wsdl:part name="parameters" element="tns:TxResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerTime" />
  </wsdl:message>
  <wsdl:message name="GetServerTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetSapConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetSapConnectionString" />
  </wsdl:message>
  <wsdl:message name="GetSapConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetSapConnectionStringResponse" />
  </wsdl:message>
  <wsdl:portType name="SFIS_WSSoap">
    <wsdl:operation name="Rv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call method in Retrieval</wsdl:documentation>
      <wsdl:input message="tns:RvSoapIn" />
      <wsdl:output message="tns:RvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call method in Transaction</wsdl:documentation>
      <wsdl:input message="tns:TxSoapIn" />
      <wsdl:output message="tns:TxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return web server Current Time</wsdl:documentation>
      <wsdl:input message="tns:GetServerTimeSoapIn" />
      <wsdl:output message="tns:GetServerTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSapConnectionString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return Sap Connection String</wsdl:documentation>
      <wsdl:input message="tns:GetSapConnectionStringSoapIn" />
      <wsdl:output message="tns:GetSapConnectionStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SFIS_WSSoap" type="tns:SFIS_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rv">
      <soap:operation soapAction="http://tempuri.org/Rv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tx">
      <soap:operation soapAction="http://tempuri.org/Tx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerTime">
      <soap:operation soapAction="http://tempuri.org/GetServerTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSapConnectionString">
      <soap:operation soapAction="http://tempuri.org/GetSapConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SFIS_WSSoap12" type="tns:SFIS_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rv">
      <soap12:operation soapAction="http://tempuri.org/Rv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tx">
      <soap12:operation soapAction="http://tempuri.org/Tx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerTime">
      <soap12:operation soapAction="http://tempuri.org/GetServerTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSapConnectionString">
      <soap12:operation soapAction="http://tempuri.org/GetSapConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SFIS_WS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SFIS Web Service</wsdl:documentation>
    <wsdl:port name="SFIS_WSSoap" binding="tns:SFIS_WSSoap">
      <soap:address location="http://172.21.236.247/SFISWS/SFIS_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="SFIS_WSSoap12" binding="tns:SFIS_WSSoap12">
      <soap12:address location="http://172.21.236.247/SFISWS/SFIS_WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>